.backgroundImage {
  background-image: url("/440bed20-c838-4802-b103-806d1bacbd35.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#forum {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
